<img class="momo" src="/images/welcome.bmp" alt="man-bakingh">

<div class="name" >
<h1>I'm Loving It!!</h1>

<nav>
  <ul>
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/cookie">Cookies</a></li>
    <li><a href="/cake">Cakes</a></li>
    <li><a href="/muffin">Muffins</a></li>
  </ul>
</nav >

</div>