<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="img.css" />
    
</head>
<body>
<br>
      <div id="momo_div">
        <img class="momo" src="/images/salah.jpg" alt="freshly-baked">
      </div>

        <h1>Our Brand</h1>
        <p>
        <strong>We are an international, premium bakery-cafe founded in 
        1988 specializing in delightful assortments of breads, pastries
        and cakes baked daily. Our missions is to bring happiness to 
        everyone by adapting to people's ever-expanding palates with our 
        decadent, unique and sophisticated pastries, breads, and cakes.</strong>
        </p>

    <img class="momo" src="/images/holding.jpg" alt="freshly-baked">
        <h1>Our Vision</h1>
        <p> <strong>As we grow, we want to maintain the authenticity of a local 
        bakery that focuses on connecting with customers in each of the 
        communities we are in and tailor to their preferences</strong></p>
  
    <img class="momo" src="/images/spoon.jpg" alt="dip">
        <h1>Our Values</h1>
        <p> <strong>We believe that quality ingredients, great customers service,
        and impeccable style go hand in hand in creating a truly unique
        experience for our customers.</strong></p>
        <br>
        <br>
    
      
  
</body>
</html>